@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none; 
    font-style: normal;
    font-weight: 400;
}
$sans: 'PT Sans';
$exo: 'Exo 2';
$main-color: #363738;
$p-color: #6B6B6C;
.container{
    max-width: 1240px;
    margin: auto;
    padding: 20px;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin-top: 109px;
    margin-bottom: 67px;
    .hero__content{
        display: flex;
        flex-direction: column;
        gap: 40px;
        .hero__title{
            font-family: $exo;
            font-size: 52px;
            line-height: 125%;
            color: $main-color;

        }
        .hero__text{
            font-family: $sans;
            font-size: 16px;
            line-height: 150%;
            color: $p-color;
            width: 525px;
        }
        .hero__caption{
            width: 104px;
            font-family: $sans;
            font-weight: 700;
            font-size: 16px;
            line-height: 150%;
            color: $main-color;
            border-bottom: 3px solid #FFCE50;
            cursor: pointer;
        }
    }
}
.hero__bottom{
    width: 1240px;
    height: 341px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    padding: 40px 0 56px 80px;
    display: grid;
    grid-template-columns: repeat(3, 333px);
    gap: 64px;
    margin-bottom: 100px;
    .hero__btm-box{
        border-right: 1px solid #D7D7DD;
        .hero__btm__title{
            font-family: $exo;
            font-weight: 600;
            font-size: 20px;
            line-height: 135%;
            color: $main-color;
            width: 228px;
            margin: 24px 0 16px;
        }
        .hero__btm__subtitle{
            width: 225px;
            font-family: $sans;
            font-size: 16px;
            line-height: 150%;
            color: $p-color;
        }
    }
    .hero__btm-box:last-child{
        border: none;
    }
}
.checkbox{
    display: flex;
    gap: 140px;
    margin-bottom: 100px;
    .checkbox__block{
        display: flex;
        flex-direction: column;
        .checkbox__block__title{
            font-family: $exo;
            font-weight: 600;
            font-size: 48px;
            line-height: 125%;
            color: $main-color;
        }
        .checkbox__block__text{
            font-family: $sans;
            font-size: 16px;
            line-height: 150%; 
            color: $p-color;
            width: 667px;
            margin: 32px 0 40px;
        }
        .checkbox__block__box-wrapper{
            display: flex;
            flex-direction: column;
            gap: 16px;
            .checkbox__block__box{
                width: 687px;
                height: 176px;
                box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.12);
                border-radius: 10px; 
                display: flex;
                gap: 32px;
                padding: 40px 0 48px 40px;
                .check{
                    width: 24px;
                    height: 24px;
                    border: 1px solid #CBCBCD;
                    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.2);
                    border-radius: 50%;
                    cursor: pointer;
                }
                .check:hover{
                    background: #0B7572;
                }
                .check__content{
                    display: flex;
                    flex-direction: column;
                    gap: 24px;
                    .check__title{
                        font-family: $exo;
                        font-weight: 600;
                        font-size: 20px;
                        line-height: 150%;
                        color: $main-color;
                    }
                    .check__subtitle{
                        font-family: $sans;
                        font-size: 16px;
                        line-height: 150%;
                        color: $p-color;
                        width: 466px;
                    }
                }
            }
        }
    }
    .checkbox__block__box:active{
        border: 1px solid #0B7572;
    }
    .checkbox__voted{
        margin-top: 162px;
        .voted__title{
            font-family: $exo;
            font-weight: 600;
            font-size: 20px;
            line-height: 150%;
            color: $main-color;
        }
        .voted__num{
            font-family: $exo;
            font-weight: 600;
            font-size: 54px;
            line-height: 150%;
            letter-spacing: 0.3em;
            color: $main-color;
            padding-bottom: 36px;
            border-bottom: 3px solid #FFCE50;
            .voted__num__text{
                font-weight: 600;
                font-size: 20px;
                line-height: 30px;
                color: $p-color;
                letter-spacing: normal;
                margin-left: -35px;
            }
        }
    }
}
.why-us{
    width: 1240px;
    height: 453px;
    background-image: url(/images/half__truck.png);
    background-position: right;
    .why-us__banner{
        .banner__before{
            width: 769px;
            height: 453px;
            background-color: #0B7572;
            clip-path: polygon(0 0, 50% 0, 100% 100%, 0 100%);
            padding-left: 90px;
            padding-top: 178px;
            .banner__title{
                font-family: $exo;
                font-weight: 600;
                font-size: 48px;
                line-height: 125%;
                color: #FFFFFF;
                width: 362px;
            }
        }  
    } 
    .why-us__bottom{
        margin-top: 72px;
        display: grid;
        grid-template-columns: repeat(2, 447px);
        grid-template-rows: repeat(2, 80px);
        gap: 64px 176px;
        margin-left: 64px;
        margin-bottom: 122px;
        .why-us__bottom__box{
            display: flex;
            gap: 40px;
            .why-us__bottom__box__content{
                display: flex;
                flex-direction: column;
                gap: 16px;
                .box__content__title{
                    font-family: $exo;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 135%;
                    color: $main-color;
                }
                p{
                    font-family: $sans;
                    font-size: 16px;
                    line-height: 150%;
                    color: $p-color;
                    width: 291px;
                }
            }
        }
    } 
}.completed-works{
    margin-top: 414px;
    margin-bottom: 212px;
    .works__title{
        font-family: $exo;
        font-weight: 600;
        font-size: 48px;
        line-height: 125%;
        color: $main-color;
    }
    .works__text{
        font-family: $sans;
        font-size: 16px;
        line-height: 150%;
        color: $p-color;
        width: 470px;
        margin-top: 32px;
        margin-bottom: 56px;
    }
    .works__card-wrapper{
        display: flex;
        gap: 30px;
        .works__card{
            width: 393px;
            height: 439px;
            overflow: hidden;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.12);
            border-radius: 10px;
            .works__card__content{
                padding-top: 24px;
                padding-left: 32px;
                .card__title{
                    font-family: $exo;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 135%;
                    color: $main-color;
                }
                .card__subtitle{
                    font-family: $sans;
                    font-size: 16px;
                    line-height: 150%; 
                    color: $p-color;
                    width: 291px;
                    margin: 16px 0 32px;
                }
                strong{
                    font-family: $exo;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 135%;
                    border-bottom: 3px solid #FFCE50;
                    color: $main-color;
                }
            }
        }
    }
}
.clients{
    width: 1240px;
    height: 917px;
    background: #0B7572;
    padding-left: 33px;
    padding-right: 67px;
    margin-bottom: 120px;
    .clients__content{
        display: flex;
        gap: 87px;
        padding-top: 85px;
        .clients__title{
            font-family: $exo;
            font-weight: 600;
            font-size: 48px;
            line-height: 125%;
            color: #FFFFFF;
            margin-left: 87px;
        }
        .clients__img{
            width: 652px;
            height: 747px;
            border-radius: 10px;
        }
    }
}

.delivery{
    margin-bottom: 120px;
    .delivery__title{
        font-family: $exo;
        font-weight: 600;
        font-size: 48px;
        line-height: 125%;
        color: $main-color;
        margin-bottom: 48px;
    }
    .delivery__block-wrapper{
        display: grid;
        grid-template-rows: repeat(3, 245px);
        margin-left: 49px;
        gap: 24px;
        .delivery__block{
            width: 1183px;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.12);
            border-radius: 10px;
            display: flex;
            gap: 56px;
            padding: 32px 0 32px 96px;
            img{
                width: 331px;
                height: 181px;
            }
            .delivery__block__content{
                display: flex;
                flex-direction: column;
                gap: 24px;
                .delivery__block__title{
                    font-family: $exo;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 125%;
                    color: $main-color;
                }
                .line{
                    width: 86px;
                    border: 2px solid #FFCE50;
                }
                .delivery__block__subtitle{
                    width: 568px;
                    font-family: $sans;
                    font-size: 16px;
                    line-height: 150%;
                    color: $p-color;
                }
            }
        }
    }
}
.trust{
    .trust__title{
        font-family: $exo;
        font-weight: 600;
        font-size: 48px;
        line-height: 125%;
        color: $main-color;
        margin-bottom: 90px;
    }
    .trust__box-wrapper{
        display: grid;
        grid-template-columns: repeat(4, auto);
        gap:  80px 133px;
        .trust__box{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-left: 1px solid #D7D7DD;
            padding-left: 63px;
            .trust__box__title{
                font-family: $exo;
                font-weight: 600;
                font-size: 20px;
                line-height: 135%;
                color: $main-color;
                margin: 32px 0 14px;
            }
            p{
                font-family: $sans;
                font-size: 14px;
                line-height: 150%;
                color: $p-color;
                text-align: center;
                width: 100%;
            }
        }
        .trust__box:first-child{
            border: none;
        }
        .trust__box:nth-child(2){
            .trust__box__title{
                margin-top: 57px;
            }
        }
        .trust__box:nth-child(5){
            .trust__box__title{
                margin-top: 70px;
                border-left: none;
            }
        }
        .trust__box:last-child{
            .trust__box__title{
                margin-top: 75px;
            }
        }
    }
}